@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  line-height: 1.3;
  font-family: "Manrope", sans-serif;
}
.container {
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  padding: 20px 30px;
  border-radius: 5px;
  text-align: center;
}
.container .title {
  font-weight: 700;
  font-size: 1.3rem;
}
.container #id {
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.container #content #law-title {
  font-weight: 600;
  margin-bottom: 30px;
}
.container #content #law-desc {
  font-weight: 500;
}
img {
  top: 0;
  left: 0;
  width: 100%;
  background-attachment: cover;
  position: absolute;
  z-index: -2;
  filter: brightness(85%);
  background-position: top -50%;
}
button {
  padding: 0.1em 0.25em;
  width: 13em;
  height: 4.2em;
  background-color: #212121;
  border: 0.08em solid #fff;
  border-radius: 0.3em;
  font-size: 12px;
  margin-top: 20px;
}

button span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0.4em;
  width: 8.25em;
  height: 2.5em;
  background-color: #212121;
  border-radius: 0.2em;
  font-size: 1.5em;
  color: #fff;
  border: 0.08em solid #fff;
  box-shadow: 0 0.4em 0.1em 0.019em #fff;
}

button span:hover {
  transition: all 0.5s;
  transform: translate(0, 0.4em);
  box-shadow: 0 0 0 0 #fff;
}

button span:not(hover) {
  transition: all 1s;
}
